body{
    background-image: url("https://i.dailymail.co.uk/i/pix/2014/03/06/article-2574667-1C14D7D100000578-5_964x935.jpg")
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-style: italic;
}
.card{
    background-color: aqua;
}

